<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>FinMan - Sakib Sadman Shajib</title>

    {% block head %}
    {% endblock %}

    <style>
        * {
            box-sizing: border-box;
        }

    </style>

</head>
<body>

    <nav class="navbar navbar-expand navbar-dark bg-dark">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" style="margin: 0 15px">
                    <a class="nav-link" href="{% url 'finance_management:account' %}">Accounts</a>
                </li>
                <li class="nav-item" style="margin: 0 15px">
                    <a class="nav-link" href="{% url 'finance_management:transaction' %}">Transaction</a>
                </li>
            </ul>
            <a class="btn btn-danger" href="{% url 'finance_management:logout' %}">Logout</a>
        </div>
    </nav>

    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'error' %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {% else %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            {% endif %}
                <strong style="margin: 0 20%; text-align: center">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">
                            &times;
                        </span>
                    </button>
                </strong>
            </div>
        {% endfor %}
    {% endif %}

{% block body %}

    <div class="container">
        {% block content %}

        {% endblock %}
    </div>

{% endblock %}

</body>
<footer>
    <p align="right">Developed by <a href="https://scubed.com.bd/"><img src="https://scubed.com.bd/static/SCubedlogo.png" width="64px" height="64px"></a></p>
</footer>
</html>
